.card-skills-container {
  justify-content: space-between;
  width: 120px;
  height: 120px;
  background-color: #e0e0e0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in-out;
  margin-left: 2em;
  margin-right: 2em;

  &:hover {
    transform: scale(1.1);
  }
}

.skills-grid {
  margin-bottom: 5vh;
}

@media only screen and (max-width: 1000px) {
  .card-skills-container {
    width: 90px;
    height: 90px;
  }
  .skills-grid {
    margin-bottom: 20vh;
  }
}
@media only screen and (max-width: 768px) {
  .card-skills-container {
    width: 70px;
    height: 70px;
  }
  .skills-grid {
    margin-bottom: 20vh  ;
  }
}