.about__content {
  font-weight: 100;
  line-height: 42px;

  .bold__text {
    font-weight: 400;
  }
}
.profile-container {
  margin-left: 10px;
  .profile__item {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 25vh;
  }
}
