#about-page {
  width: 100%;
}

.about__content {
  font-weight: 100;
  line-height: 42px;

  .bold__text {
    font-weight: 400;
  }
}
.profile-container {
  .profile__item {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 25vh;
  }
}


@media only screen and (max-width: 1120px) {
  .profile-container {
    .profile__item {
      width: 250px;
      height: 250px;
      margin-top: 10vh;
      margin-left: 15vh;
    }
  }
}
@media only screen and (max-width: 940px) {
  .profile-container {
    .profile__item {
      width: 200px;
      height: 200px;
      margin-top: 10vh;
      margin-left: 15vh;
    }
  }
}
@media only screen and (max-width: 768px) {
  .profile-container {
    .profile__item {
      width: 200px;
      height: 200px;
      margin-top: 10vh;
      margin-left: 10vh;
    }
  }
}
@media only screen and (max-width: 700px) {
  .profile-container {
    .profile__item {
      width: 180px;
      height: 180px;
      margin-top: 15vh;
      margin-left: 7vh;
    }
  }
}

