#landing-page {
  .landing-text {
    .author__description {
      width: 70%;
      font-weight: 200;
    }
  }

  .decoration-1 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
  }
}

@media only screen and (min-height: 768px) {
  .landing-container {
    height: 70vh;
  }
}

@media only screen and (min-height: 1px) {
  .landing-container {
    height: 100vh;
  }
}
